@import url('https://fonts.googleapis.com/css?family=Cabin|Lobster|Merienda+On|Raleway');


body {
    background-color:#000;
    overflow-x: hidden;
}

body * {
    font-family: 'Cabin', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lobster, cursive;
}

p {
    font-size: 0.9em;
    margin-bottom: 10px;
    line-height: 150%;
}

p.special {
    font-family: 'Merienda One', cursive;
}

a {
    font-family: Raleway;
}