@import url('https://fonts.googleapis.com/css?family=Karla|Oswald');


body {
    background-color:#fff;
    overflow-x: hidden;
}

body * {
    font-family: 'Karla', sans-serif;
}

body.popup-open {
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
}

h1, h2, h3 {
    letter-spacing: 2px;
}


h3, h4, h5, h6 {
    letter-spacing: 1px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 150%;
}

a, p.special, h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
